@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Dancing Script", cursive;
}

body {
  font-family: "Dancing Script", cursive;
  background: #eee;
  color: #6e3300;
}

p {
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 16px;
}

a {
  color: #6e3300;
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  color: #f1c40f;
  font-weight: 400;
}

em {
  color: #555;
}

/* class  */
.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 48px;
}

.bg-dark {
  background: #333;
  color: white;
}

/* header */
.header-barre {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 16px 32px;
  background: #ffebcd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 28px;
}

.header-logo {
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-logo i {
  color: #a09c8e;
  font-size: 28px;
  margin-right: 8px;
}

.header-logo a {
  font-size: 48px;
  font-weight: 300;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 16px;
}

header ul li a:hover {
  color: #f1c40f;
}

header a {
  color: #6e3300;
}

.accroche {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/body-fond1.jpg) center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.accroche-texte {
  max-width: 800px;
  text-align: center;
  color: white;
}

.accroche-texte h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

.accroche-texte p {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
}

.bouton {
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
}

.btn-primaire {
  background: white;
  color: #222;
}

.btn-primaire:hover {
  background: #222;
  color: white;
}

/* Présentation */
.presentation {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
  padding-top: 150px;
}

.presentation-texte {
  font-size: 20px;
  padding: 20px 40px 0 20px;
  color: #1e1e24;
}

.presentation-image img {
  border-radius: 200px;
  border: 2px solid #8a716a;
  text-align: center;
  width: 300px;
}

/* Prestations */
#prestation {
  background: #9bb291;
  min-height: 100vh;
}

.offre {
  padding: 160px 16px;
  max-width: 800px;
}

.titre {
  padding-top: 40px;
  font-size: 50px;
}

.offre-liste {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offre-element {
  border: 1px solid #ddd;
  background: white;
  margin: 16px;
  flex: 1;
}

.offre-element-img {
  width: 100%;
}

.offre-element-text {
  padding: 20px;
  text-align: center;
}

.offre-separator {
  margin: 16px auto;
  height: 2px;
  width: 50px;
  background: #333;
}

/* footer */
footer {
  background: #ffebcd;
  color: #f1c40f;
  text-align: center;
}

.footer-info {
  display: flex;
  flex: row;
}

.social {
  max-width: 400px;
  margin: auto auto auto auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-contact a {
  text-decoration: none;
  padding-bottom: 5px;
}
.footer-contact i {
  width: 15px;
}

.logo-contact {
  display: flex;
  flex-direction: column;
}

.fas {
  font-size: 14px;
  padding-right: 10px;
}

footer p {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 12px;
}

/*# sourceMappingURL=accueil.css.map */
