// Tons marrons

$marronC: #8a716a;
$marronM: #7f675b;
$marronF: #754f44;

// Tons foncés

$noir: #1e1e24;

// Tons verts

$vertC: #a4c2a8;
$vertSauvage: #9bb291;
$vertF: #5b6c5d;
$vertJaune: #a6b07e;

// Ecriture

$Font: "Dancing Script", cursive;
