@import "variable";
@import "keyframe";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: $font1;
}

body {
  font-family: $font;
  background: #eee;
  color: $marronF;
}

p {
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 16px;
}

h2 {
  font-family: $font1;
}

a {
  color: $marronF;
  text-decoration: none;
}

ul {
  list-style: none;
}

em {
  color: #555;
}

/* class  */

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 48px;
}

.bg-dark {
  background: #333;
  color: white;
}

/* header */

.header-barre {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 16px 32px;
  background: white;
  opacity: 0.5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 28px;
}

.header-logo {
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-logo i {
  color: #a09c8e;
  font-size: 28px;
  margin-right: 8px;
}

.header-logo a {
  font-size: 48px;
  font-weight: 300;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 16px;
  font-size: 26px;
}

header ul li a:hover {
  color: $jaune;
}

header a {
  color: $marronF;
}

// main

.h1 {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}

.grille {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  grid-gap: 10px;
}

.grid-item {
  width: 250px;
  height: 200px;
  background: $noir;
}

// footer

footer {
  background: white;
  text-align: center;
  opacity: 0.8;
}

.footer-titre {
  font-size: 35px;
  font-family: $font1;
  color: $marronF;
}

.footer-texte {
  font-size: 20px;
}
.footer-info {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.social {
  max-width: 400px;
  margin: auto auto auto auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 20px;
  }
  i {
    width: 15px;
    padding-right: 28px;
  }
}

.logo-contact {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.logo-reseau {
  padding-top: 20px;
  .social {
    padding: 10px;
    font-size: 25px;
  }
}

.fas {
  font-size: 14px;
  padding-right: 10px;
}

footer p {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 12px;
}
